*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.table {
    width: 1000px;
}

table th {
    width: 250px;
}

.updateButton {
    display: none;
}